{% extends 'base.html' %}
{% block container %}

    <div class="jumbotron page-header">
        <h1>Clinica Officecom</h1>
        <br>
        <p><strong>Bem-vindo à Clínica OfficeCom - Seu Bem-Estar em Primeiro Lugar!</strong></p>
        <h5>Na Clínica OfficeCom, nossa missão é cuidar da sua saúde com excelência e dedicação. Contamos com uma equipe de médicos altamente qualificados e especialistas nas mais diversas áreas, prontos para oferecer o melhor atendimento personalizado para você e sua família.</h5>
        <br>
        <h4>Nossas Especialidades:</h4>
        <ul>
            <li>Clínica Geral</li>
            <li>Cardiologia</li>
            <li>Dermatologia</li>
            <li>Pediatria</li>
            <li>Ginecologia e Obstetrícia</li>
        </ul>
        <br>
        <h4>Por que escolher a Clínica OfficeCom?</h4>
        <ul>
            <li>Atendimento humanizado e acolhedor.</li>
            <li>Infraestrutura moderna e confortável.</li>
            <li>Tecnologia de ponta para diagnósticos precisos.</li>
            <li>Facilidade de agendamento online.</li>
        </ul>
        <br>
        <h4>Agende sua consulta hoje mesmo e experimente um novo padrão de cuidado com a saúde!</h4>

        <h4>Clínica OfficeCom.</h4>
    
        <br><br>
        <h5><strong>Entre em contato:</strong></h5>
        <p><h5>📞 (83) 90000-0000</h5></p>
        <p><h5></h5>📧 contato@clinicaficticia.com.br</h5></p>
        <p><h5></h5>🌐 <a href="https://officecom.com.br" target="_blank">www.clinicaficticia.com.br</a></h5></p>
        
        <p><a class="btn btn-primary" href="https://officecom.com.br/" target="_blank">Saiba mais</a></p>
    </div>

{% endblock %}
